/**
 * Palette in HSL
 * Credit: generated via Coolers
 */


* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
}

.home-grid-container {
	position: relative;
	display: grid;
	grid-template-rows: 100vh auto auto auto;
	grid-template-areas: "landing"
						 "links"
						 "explainer"
						 "timeline"
						 "examples";
	font-family: "Raleway", sans-serif;
}

/**
 * Landing page
 */

 $red-purple: 		hsla(333, 100%, 45%, 1);
 $electric-blue:	hsla(182, 88%, 65%, 1);
 $deep-cyan: 		hsla(172, 71%, 25%, 1);
 $palatinate-blue: 	hsla(238, 100%, 60%, 1);
 $onyx: 			hsla(223, 15%, 24%, 1);
 $rich-black: 		hsla(197, 94%, 6%, 1);
 $hollywood-cerise: hsla(319, 100%, 44%, 1); // platonic ideal magenta
 $majorelle-blue:	hsla(253, 81%, 58%, 1);
 

.home-grid-landing {
	/* Image credit: subtlepatterns.com */
	grid-area: landing;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
//	min-height: 100vh;
	/* gradient: electric blue to palatinate blue */
	background-image: linear-gradient(to right, hsla(182, 100%, 65%, .7) -30%, hsla(238, 100%, 50%, .7)), linear-gradient(to bottom, rgba(255,255,255,.3), rgba(0,0,0,.3)), url("img/noisy-grid-big.png");
	background-position: auto, auto, center center;
	@media screen and (min-width: 1200px) {
		justify-content: space-between;
	}
	
}

.home-landing__title {
	position: relative;
	font-family: "Playfair Display", serif;
	font-weight: 900;
	font-size: 4rem;
	line-height: 1;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	@media screen and (min-width: 400px) {
		font-size: 4rem;
	}
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 6rem;
		margin-left: 25%;
		margin-right: initial;
	}
	@media screen and (min-width: 900px) {
		font-size: 7.5rem;
	}
	@media screen and (min-width: 1200px) {
		font-size: 8rem;
	}
}

/**
 * Links to elsewhere in site
 */

.home-grid-links {
	grid-area: links;
	position: relative;
	margin: 0 16px;
	@media screen and (min-width: 400px) {
		margin: 0 4.167%;	
	}
	@media screen and (min-width: 600px) {
		margin: 0 8.33%;
	}
	@media screen and (min-width: 768px) {
		margin: 0;
	}
	@media screen and (min-width: 1024px) {
		margin: 0 8.33%;
	}
}

.home-links__wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	justify-content: space-around;
}

.home-links__link {
	position: relative;
	display: block;
	width: 120px;
	padding: .25em .5em;
	margin: 0 60px;
	margin-bottom: 1em;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 1.625rem;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: black !important;
	border: 1px solid black;
	transition: color .2s, border-color .2s;
	&:nth-of-type(2n) {
		justify-self: end;
	}
	&:hover {
		text-decoration: none !important;
		color: $hollywood-cerise !important;
		border-color: $hollywood-cerise; // hsl(340, 100%, 50%); //$onyx;
	//	opacity: .7;

	}
	@media screen and (min-width: 400px) {
		justify-self: center !important;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.75rem;
		width: 130px;
	//	margin: 0 30px 1em 30px;
		margin-bottom: 2em;
		margin-top: 2em;
	}

	@media screen and (min-width: 1024px) {
		width: 150px;
		font-size: 2rem;
		margin: 2em calc(150px / 3);
	//	margin-bottom: 3em;
	}
}

/**
 * Explainer
 */

.home-grid-explainer {
	grid-area: explainer;
	background-color: hsla(223, 15%, 20%, 1); //$onyx;
	padding: 0 4px;
	@media screen and (min-width: 400px) {
		padding: 0 4.167%;
	}
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
}

.home-explainer__content-wrapper {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

.home-explainer__title {
	position: relative;
	display: inline-block;
	padding: .25em .5em;
	margin-top: calc(1.5rem + 6px);
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	border: 3px solid white;
}

.home-explainer__text {
	font-size: 1.25rem;
//	font-weight: bold;
	color: hsla(182, 100%, 75%, 1);
	line-height: 1.5;
}

/**
 * Timeline
 */

.home-grid-timeline {
	grid-area: timeline;
	background-color: black;
}

.home-timeline__title {
	font-size: 2rem;
	font-family: "Playfair Display", serif;
	font-weight: 900;
}

.home-timeline__line-wrapper {

}

/**
 * Examples
 */

.home-grid-examples {
	grid-area: examples;
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "buttons"
						 "content";
//	justify-content: center;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home-examples__title {
	grid-area: title;
	position: relative;
	font-size: 2rem;
	font-family: "Playfair Display", serif;
	font-weight: 900;
	text-align: center;
	line-height: 2;
	div {
		font-family: "Montserrat", sans-serif;
		font-size: .5em;
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: .0625em;
		word-spacing: .0625em;
		line-height: 1;
		opacity: .5;
		display: none;
	}
	@media screen and (min-width: 400px) {
		font-size: 3rem;
	}
	@media screen and (min-width: 650px) {
		div {
			display: block;
		}
	}
	@media screen and (min-width: 768px) {
	//	font-size: 6rem;
	}
	@media screen and (min-width: 900px) {
	//	font-size: 7.5rem;
	}
	@media screen and (min-width: 1200px) {
	//	font-size: 8rem;
	}

}

/* Below: button container & 3 buttons + content container & 3 examples */

.home-examples__btns {
	grid-area: buttons;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0 8.33%;
}

[class*="home-examples__btn--"] {
	display: inline-block;
	padding: .5em .75em;
	margin: 0 1em;
	margin-bottom: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 1.125rem;
	line-height: 1;
	outline: none;
	background-color: white;
	border: 1px solid black;
	transition: color .2s, border-color .2s;
	&:hover, &:focus {
		color: $hollywood-cerise;
		border-color: $hollywood-cerise;
	}
	span {
		display: none;
	}
	@media screen and (min-width: 650px) {
		margin-bottom: 2em;
		&:first-of-type {
			margin-top: 2em;
		}
		span {
			display: inline;
		}
	}
	@media screen and (min-width: 1024px) {
		span {
			display: none;
		}
	}
}

.home-examples__wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.home-examples__content {
	grid-area: content;
	justify-self: start;
	position: relative;
	display: flex;
	width: 300%;
	transition: transform .5s;
}

[class*="home-examples__example--"] {
	position: relative;
	height: 100vh;
	width: 100%;
}

.home-examples__example--1 {
	border: 2px solid red;
}

.home-examples__example--2 {
	border: 2px solid salmon;
}

.home-examples__example--3 {
	border: 2px solid lightpink;
}

/**
 * Temporary
 */

header {
	display: none !important;
}