* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
}

.home-grid-container {
	position: relative;
	display: grid;
	grid-template-areas: "landing"
						 "links"
						 "explainer"
						 "goto";
	grid-auto-rows: minmax(25vh, auto);
	font-family: "Raleway", sans-serif;
}

.home-grid-landing {
	grid-area: landing;
	background-color: lightpink;
}

.home-grid-links {
	grid-area: links;
	background-color: lightblue;
}

.home-grid-explainer {
	grid-area: explainer;
	background-color: lightgreen;
}

.home-grid-goto {
	grid-area: goto;
	background-color: lightyellow;
}
