/**
 * Palette in HSL
 * Credit: generated via Coolers
 */


* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
}

.home-grid-container {
	position: relative;
	display: grid;
	grid-template-rows: 100vh auto auto auto;
	grid-template-areas: "landing"
						 "links"
						 "explainer"
						 "timeline"
						 "examples";
	font-family: "Raleway", sans-serif;
}

/**
 * Landing page
 */

 $red-purple: 		hsla(333, 100%, 45%, 1);
 $electric-blue:	hsla(182, 88%, 65%, 1);
 $deep-cyan: 		hsla(172, 71%, 25%, 1);
 $palatinate-blue: 	hsla(238, 100%, 60%, 1);
 $onyx: 			hsla(223, 15%, 24%, 1);
 $rich-black: 		hsla(197, 94%, 6%, 1);
 $hollywood-cerise: hsla(319, 100%, 44%, 1); // platonic ideal magenta
 $majorelle-blue:	hsla(253, 81%, 58%, 1);
 

.home-grid-landing {
	grid-area: landing;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
 	background-image: -webkit-linear-gradient(to right, #fc00ff, #00dbde);
 	background-image: linear-gradient(to right, #fc00ff, #00dbde); /* rgb(252, 0, 255), rgb(0, 219, 222) */
  	@media screen and (min-width: 768px) {
  		flex-flow: row;
  		align-items: center;
  		justify-content: space-between;
  	}
	@media screen and (min-width: 1024px) {
	//	flex-flow: row;
		
	}
	
}

.home-landing__title {
	position: relative;
//	height: 2em;
	font-family: "casablanca-urw", sans-serif;
	font-weight: 700;
	font-size: 4rem;
	line-height: .9;
	text-transform: uppercase;
/*	color: transparent;
	background-image: linear-gradient(to left, rgba(252, 70, 107, 1), rgba(63, 94, 251, 1));
	-webkit-background-clip: text;
	background-clip: text; */
	color: rgba(255,255,255,1);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	@media screen and (min-width: 400px) {
		font-size: 4rem;
	}
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 5.5rem;
		margin-left: 8.33%;
		margin-right: initial;
		padding-top: 12px;
	}
	@media screen and (min-width: 1024px) {

	}
	@media screen and (min-width: 1200px) {
		align-self: flex-start;
		margin-top: 12.5vw;
		font-size: 7rem;
	}
}

.home-landing__nav {
	position: relative;
	align-self: flex-end;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	align-items: space-between;
	width: 66.67%;
	height: 50vh;
	@media screen and (min-width: 768px) {
		width: 33.33%;
		height: 80vh;
	}
}

.home-nav__link {
	display: block;
	position: relative;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-size: 1.5rem;
	line-height: .9;
	text-decoration: none;
	text-align: right;
	text-transform: uppercase;
	color: white;
	transition: color .2s;
	&:nth-of-type(1) {
		span {
			width: 130%;
			text-align: center;
		}
	}
	&:nth-of-type(2) {
		span {
			width: 100%;
			text-align: center;
		}
	}
	&:nth-of-type(3) {
		span {
			width: 130%;
			text-align: left;
			padding-left: 1.5em;
		}
	}
	&:nth-of-type(4) {
		span {
			width: 160%;
			text-align: center;
			padding-left: 1.5em;
		}
	}
	span {
		position: absolute;
		display: block;
		width: 100%;
		right: 0;
		bottom: 50%;
		transform: translate(0, 50%);
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			height: 1px;
			width: 100%;
			background-color: rgba(63, 94, 251, 1); // white;
		//	transform: translate(0, -11px);
		}
	}
	&:hover, &:focus {
		color: rgba(63, 94, 251, 1);
	}
	@media screen and (min-width: 768px) {
		font-size: 2rem;
	//	height: 3.5rem;
	}
}

/**
 * Explainer
 */

.home-grid-explainer {
	grid-area: explainer;
	background-image: linear-gradient(to bottom, rgba(239, 168, 184, 1), rgba(239, 168, 184, .8) 50%, white);
	padding: 0 4px;
	@media screen and (min-width: 400px) {
		padding: 0 4.167%;
	}
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
}

.home-explainer__content-wrapper {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

.home-explainer__title {
	position: relative;
	display: inline-block;
	padding: .25em .5em;
	margin-top: calc(1.5rem + 6px);
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: white;
	border: 3px solid white;
}

.home-explainer__text {
	font-size: 1.25rem;
//	font-weight: bold;
	color: #30323D; // hsla(182, 100%, 75%, 1);
	line-height: 1.5;
}

/**
 * Timeline
 */

.home-grid-timeline {
	grid-area: timeline;
	background-color: black; //rgba(63, 94, 251, 1);
	display: none;
}

.home-timeline__title {
	font-family: "Playfair Display", serif;
	font-weight: 900;
	color: transparent;
}

.home-timeline__line-wrapper {

}

/**
 * Examples
 */

.home-grid-examples {
	grid-area: examples;
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "buttons"
						 "content";
//	justify-content: center;
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home-examples__title {
	grid-area: title;
	position: relative;
	font-family: "Bungee", serif;
	font-family: "casablanca-urw", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	line-height: 2;
	color: rgba(63, 94, 251, 1);
	div {
		font-family: "Montserrat", sans-serif;
		font-size: .5em;
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: .0625em;
		word-spacing: .0625em;
		line-height: 1;
		opacity: .5;
		display: none;
		color: black;
	//	color: rgba(63, 94, 251, 1);
	}
	@media screen and (min-width: 400px) {
		font-size: 3rem;
	}
	@media screen and (min-width: 650px) {
		div {
	//		display: block;
		}
	}
	@media screen and (min-width: 768px) {
	//	font-size: 6rem;
	}
	@media screen and (min-width: 900px) {
	//	font-size: 7.5rem;
	}
	@media screen and (min-width: 1200px) {
	//	font-size: 8rem;
	}

}

/* Below: button container & 3 buttons + content container & 3 examples */

.home-examples__btns {
	grid-area: buttons;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0 8.33%;
}

[class*="home-examples__btn--"] {
	display: inline-block;
	padding: .5em .75em;
	margin: 0 1em;
	margin-bottom: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 1.125rem;
	line-height: 1;
	outline: none;
	background-color: white;
	border: 1px solid black;
	transition: color .2s, border-color .2s;
	&:hover, &:focus {
		color: $hollywood-cerise;
		border-color: $hollywood-cerise;
	}
	span {
		display: none;
	}
	@media screen and (min-width: 650px) {
		margin-bottom: 2em;
		&:first-of-type {
			margin-top: 2em;
		}
		span {
			display: inline;
		}
	}
	@media screen and (min-width: 1024px) {
		span {
			display: none;
		}
	}
}

.home-examples__wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.home-examples__content {
	grid-area: content;
	justify-self: start;
	position: relative;
	display: flex;
	width: 300%;
	transition: transform .5s;
}

[class*="home-examples__example--"] {
	position: relative;
	height: 100vh;
	width: 100%;
}

.home-examples__example--1 {
	background-color: rgba(63, 94, 251, .5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-examples__example--2 {
	border: 2px solid salmon;
}

.home-examples__example--3 {
	border: 2px solid lightpink;
}

/**
 * Temporary
 */

header {
	display: none !important;
}